

NET "CLKin" LOC = P57;
NET "reset" LOC = P47;
NET "seg_h[0]" LOC = P55;
NET "seg_h[1]" LOC = P58;
NET "seg_h[2]" LOC = P59;
NET "seg_h[3]" LOC = P60;
NET "seg_h[4]" LOC = P62;
NET "seg_h[5]" LOC = P63;
NET "seg_h[6]" LOC = P64;
NET "seg_l[0]" LOC = P68;
NET "seg_l[1]" LOC = P69;
NET "seg_l[2]" LOC = P70;
NET "seg_l[3]" LOC = P71;
NET "seg_l[4]" LOC = P72;
NET "seg_l[5]" LOC = P75;
NET "seg_l[6]" LOC = P76;

# PlanAhead Generated physical constraints 

NET "instruction[0]" LOC = P120;
NET "instruction[1]" LOC = P121;
NET "instruction[2]" LOC = P124;
NET "instruction[3]" LOC = P125;
NET "instruction[4]" LOC = P126;
NET "instruction[5]" LOC = P127;
NET "instruction[6]" LOC = P129;
NET "instruction[7]" LOC = P130;
NET "read_address[0]" LOC = P96;
NET "read_address[1]" LOC = P98;
NET "read_address[2]" LOC = P99;
NET "read_address[3]" LOC = P101;
NET "read_address[4]" LOC = P102;
NET "read_address[5]" LOC = P103;
NET "read_address[6]" LOC = P104;
NET "read_address[7]" LOC = P105;
